<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../style/css/index.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <title>FAKE IKEA</title>
</head>

<body>
    <header>
        <div class="top">
            <div class="nav-icon">
                <span></span>
                <span></span>
                <span></span>
            </div>
            <div class="logo">
                <img src="img/icons/logo.png" alt="IKEA logo">
            </div>
            <nav class="nav-list">
                <ul>
                    <li><a href="">SHOP</a></li>
                    <li><a href="">COLLECTION</a></li>
                    <li><a href="">BLOG</a></li>
                    <li><a href="">CONTACT</a></li>
                </ul>
            </nav>
            <div class="search">
                <img src="img/icons/search.png" alt="search">
            </div>
        </div>

        <h1>Fresh furniture</h1>
    </header>
    <main>

        <h1>About Us</h1>
        <div class="containerAbout">
            <div class="left">
                <h2>we provide <br />good furniture</h2>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Impedit, maxime corrupti. Enim expedita cum
                    dolorem reprehenderit explicabo vero nostrum facilis animi eos numquam, ratione consectetur magni
                    illo aliquid saepe culpa.</p>
            </div>
            <div class="center">
                <h2>our <br />specialization</h2>

                <div class="delivery">
                    <img src="img/icons/delivery.png" alt="">
                    <p>delivery</p>
                </div>

                <div class="support">
                    <img src="img/icons/support.png" alt="">
                    <p>Support</p>
                </div>

                <div class="montage">
                    <img src="img/icons/montage.png" alt="">
                    <p>montage</p>
                </div>
            </div>
            <div class="right">
                <img src="img/images/image.jpg" alt="">
            </div>
        </div>
        <div class="containerCategories">
            <div class="categoriaTop">
                <h1>categories</h1>
            </div>
            <div class="categoriaCenter">
                <div id="bathroom" onmouseenter="hideTitleAndDark()" onmouseleave="showTitleAndDark()">
                    <h2 id="toto">BATHROOM</h2>
                    <div id="dark" class="darkness">
                    </div>
                </div>
                <div id="kitchen">
                    <h2 id="toto">KITCHEN</h2>
                    <div id="dark" class="darkness"></div>
                </div>
                <div id="bedRoom">
                    <h2 id="toto">BEDROOM</h2>
                    <div id="dark" class="darkness"></div>
                </div>
                <div id="livingRoom">
                    <h2 id="toto">LIVING<br /> ROOM</h2>
                    <div id="dark" class="darkness"></div>
                </div>
            </div>
        </div>

    </main>
    <footer>
        <p>©IKEA 2018 | All rights reserved</p>
    </footer>
    <script src="js/index.js"></script>
</body>

</html>