@import url('https://fonts.googleapis.com/css?family=Lexend+Deca&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

:root{
    --font: 'Lexend Deca', sans-serif;
    --fontOpenSans: 'Open Sans', sans-serif;
}
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    font-family: var(--font);
}

header{
    height: 100vh;
    position: relative;
    background-image: url(../../views/img/images/header.jpg);
    background-size: cover;
    background-position-y: 100%;
    background-position-x: 50%;
    background-repeat: no-repeat;
  
    .nav-icon{
        position: absolute;
        height: 2rem;
        width: 2.5rem;
        right: 10%;
        transform: rotate(0deg);
        transition: .5s ease-in-out;
        cursor: pointer;
        display: none;
        &.active{
            span{
                &:nth-child(1){
                    top:12px;
                    background-color:#fff;
                    z-index: 5;
                    transform: rotate(135deg);
          }
                }
            }
        &.active{
            span{
                &:nth-child(2){
                    opacity:0;
                    left:-3rem;
          }
                }
            }    
            &.active{
                span{
                    &:nth-child(3){
                        bottom:12px;
                        background-color:#fff;
                        z-index: 5;
                        transform: rotate(-135deg);
              }
                    }
                }
        /* &.active span:nth-child(2) {
            opacity: 0;
            left:-3rem;
          } 
        &.active span:nth-child(3){
            bottom:12px;
            z-index: 6;
            background-color:#fff;
            transform: rotate(-135deg);
          } */
       
        span{
            position: absolute;
            display: block;
            background-color: black;
            height: 0.5rem;
            width: 100%;
            transform: rotate(0deg);
            transition: 0.25s;
            /* Left !!! */
            opacity: 1;
            left:0;
            border-radius: 6.25rem;
            background-color:#fff;
            &:nth-child(1){
                top: 0px;
              }
            &:nth-child(2) {
                top: 12px;
              }
            &:nth-child(3) {
                bottom:0;
              }
        }
    }
    
    /* --> Transition  */
    
    .top{
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: absolute;
        z-index:2;
        width: 100%;
        height: 20%;
        .logo{
            width: 15%;
            height: 50%;
            position: absolute;
            left:5%;
            cursor: pointer;
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                    
                }
        }
        .nav-list {
            position: absolute;
            right:10%;
            width: 50%;
            ul {
                list-style-type: none;
                display: flex;
                li{
                    width: 100%;
                    cursor:pointer;
                    text-align: center;
                    a{
                        text-decoration: none;
                        color:#b0a38e;
                    }
                    a:hover{
                        color:black;
                        transition: 0.5s;
                    }
                }
                
    
            }
        }
        .search{
            cursor: pointer;
            width: 10%;
            height: 20%;
            position: absolute;
            right: 0;
            img{
                width:100%;
                height: 100%;
                object-fit: contain;
            }
        }
    }
    h1{
        text-transform: uppercase;
        font-size: 4rem;
        color:#4A4A4A;
        font-family: var(--font);
        position: absolute;
        left: 50%;
        transform: translate(-50%,-80%);
        top: 50%;

    }

}

main{

    margin-top:10vh;
    h1{
        color:#8b8882;
        margin-left: 15%;
        margin-bottom:2%;
        letter-spacing: 2px;
    }
    .containerAbout{
        display:flex;
        justify-content: space-around;
        align-items: center;
        margin:auto;
        height: 60vh;
        margin-bottom:10vh;
        width:75%;
            .right{
                
                width: 30%;
                height: 80%;
                overflow: hidden;
                
                position: relative;
                img{
                    width:auto;
                    height: 100%;
                    position: absolute;
                
                }
            }
            .left {
                width: 30%;
                height: 80%;

                h2 {
                    color: #b0a38e;
                    font-family: var(--fontOpenSans);
                    margin-bottom: 5%;

                }
                p{
                    line-height: 1.7;
                }



            }

            .center {
                width: 20%;
                height: 80%;
                display: flex;
                flex-direction: column;
               
                h2 {
                    height: 25%;
                    color: #b0a38e;
                    font-family: var(--fontOpenSans);
                    margin-bottom: 1vh;
                }

               
               .delivery{
                   width: 50%;
                   height: 35%;
                   
                   
                    img{
                        width: 50%;
                        height:40%;                                                 
                        margin-top: 1.5vh;
                        
                   }
                   p{
                    margin-top: 0.8vh;
                       text-transform: uppercase;
                       font-size: 1rem;
                       
                   }
               }
               .support{
                width: 50%;
                height: 35%;
                 img{
                    width: 40%;
                    margin-top: 1.5vh;
        
                }
                p{
                    margin-top: 0.8vh;
                    text-transform: uppercase;
                    font-size: 1rem;
                }
            }
            .montage{
                width: 50%;
                height: 35%;
                 img{
                    width: 40%;
                    margin-top: 1.5vh;
                }
                p{
                    margin-top: 0.8vh;
                    text-transform: uppercase;
                    font-size: 1rem;
                }
            }

            }
    }
    .containerCategories{
       
        .categoriaTop{
            height: 20vh;
            display:flex;
            padding-top:1.5rem;
            align-items: center;
            background-color: #F3F3F3;
        
        }
        .categoriaCenter{
            display:flex;
            height: 80vh;
            width: 100%;
            overflow:hidden;
            #bathroom{
                position: relative;
                cursor: pointer;
                height: 100%;
                width: 25%;
                background-image: url("../../views/img/images/bathroom.jpg");
                background-size: cover;
                background-repeat: no-repeat;
                background-position-y: 100%;
                background-position-x: 80%;
                transform: scale(1);
                transition: 0.3s ease-in-out; 
                display: flex;
                justify-content: center;
                align-items: center;
                h2{ 
                    font-size:2rem;
                    color:white;
                    z-index: 2;
                }
                #dark{
                    position: absolute;
                    height: 100%;
                    width: 100%;
                    background-color: black;
                    opacity: .2;
                }
            }
            #bathroom:hover{
                h2{
                    display:none;
                }
                transform: scale(1.3);
            }
            
            #kitchen{
                position: relative;
                cursor: pointer;
                height: 100%;
                width: 25%;
                background-image: url("../../views/img/images/kitchen.jpg");
                background-size: cover;
                background-repeat: no-repeat;
                background-position-y: 100%;
                background-position-x: 50%;
                transform: scale(1);
                transition: 0.3s ease-in-out; 
                display: flex;
                justify-content: center;
                align-items: center;
                h2{ 
                    font-size:2rem;
                    color:white;
                    z-index: 2;
                }
                .dark{
                    position: absolute;
                    height: 100%;
                    width: 100%;
                    background-color: black;
                    opacity: .2;
                }

            }
            #kitchen:hover{
                transform: scale(1.3);
            }
            #bedRoom{
                position: relative;
                cursor: pointer;
                height: 100%;
                width: 25%;
                background-image: url("../../views/img/images/bedroom.jpg");
                background-size: cover;
                background-repeat: no-repeat;
                background-position-y: 100%;
                background-position-x: 50%;
                transform: scale(1);
                transition: 0.3s ease-in-out; 
                display: flex;
                justify-content: center;
                align-items: center;
                h2{
                    font-size:2rem;
                    color:white;
                    z-index: 2;
                }
                .dark{
                    position: absolute;
                    height: 100%;
                    width: 100%;
                    background-color:black;
                    opacity: .2;
                }

            }
            #bedRoom:hover{
                transform: scale(1.3);
            }
            #livingRoom{
                position: relative;
                cursor: pointer;
                height: 100%;
                width: 25%;
                background-image: url("../../views/img/images/livingroom.jpg");
                background-size: cover;
                background-repeat: no-repeat;
                background-position-y: 100%;
                background-position-x: 40%;
                transform: scale(1);
                transition: 0.3s ease-in-out; 
                display: flex;
                justify-content: center;
                align-items: center;
                h2{
                    font-size:2rem;
                    text-align: center;
                    color:white;
                    z-index: 2;
                }
                .darkness{
                    position: absolute;
                    height: 100%;
                    width: 100%;
                    background-color: black;
                    opacity: .2;
                }

            }
            #livingRoom:hover{
                transform: scale(1.3);
            }
            

        }
       
    }

}

footer{
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F3F3F3;
    p{
        letter-spacing: 1.6;
        color:black;
    }
}
@media(max-width:800px){
    header{
        .top{
            .nav-icon{
                display: block;
                margin-bottom: 0;
            }
            .nav-list{
                display: none;
                ul{
                height: 80vh;
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                }
            }
            .switch{
                display:block;
                background-color: black;
                opacity: 0.8;
                right: 0;
                top:20vh;
               
            }
        }
    }
  
  
 
  
/* .nav-icon span:nth-child(3) {
    bottom:0;
  } */

 

}













