@import url("https://fonts.googleapis.com/css?family=Lexend+Deca&display=swap");
@import url("https://fonts.googleapis.com/css?family=Open+Sans&display=swap");
:root {
  --font: "Lexend Deca", sans-serif;
  --fontOpenSans: "Open Sans", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font);
}

header {
  height: 100vh;
  position: relative;
  background-image: url(../../views/img/images/header.jpg);
  background-size: cover;
  background-position-y: 100%;
  background-position-x: 50%;
  background-repeat: no-repeat;
  /* --> Transition  */
}
header .nav-icon {
  position: absolute;
  height: 2rem;
  width: 2.5rem;
  right: 10%;
  transform: rotate(0deg);
  transition: 0.5s ease-in-out;
  cursor: pointer;
  display: none;
  /* &.active span:nth-child(2) {
      opacity: 0;
      left:-3rem;
    } 
  &.active span:nth-child(3){
      bottom:12px;
      z-index: 6;
      background-color:#fff;
      transform: rotate(-135deg);
    } */
}
header .nav-icon.active span:nth-child(1) {
  top: 12px;
  background-color: #fff;
  z-index: 5;
  transform: rotate(135deg);
}
header .nav-icon.active span:nth-child(2) {
  opacity: 0;
  left: -3rem;
}
header .nav-icon.active span:nth-child(3) {
  bottom: 12px;
  background-color: #fff;
  z-index: 5;
  transform: rotate(-135deg);
}
header .nav-icon span {
  position: absolute;
  display: block;
  background-color: black;
  height: 0.5rem;
  width: 100%;
  transform: rotate(0deg);
  transition: 0.25s;
  /* Left !!! */
  opacity: 1;
  left: 0;
  border-radius: 6.25rem;
  background-color: #fff;
}
header .nav-icon span:nth-child(1) {
  top: 0px;
}
header .nav-icon span:nth-child(2) {
  top: 12px;
}
header .nav-icon span:nth-child(3) {
  bottom: 0;
}
header .top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 20%;
}
header .top .logo {
  width: 15%;
  height: 50%;
  position: absolute;
  left: 5%;
  cursor: pointer;
}
header .top .logo img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
header .top .nav-list {
  position: absolute;
  right: 10%;
  width: 40%;
}
header .top .nav-list ul {
  list-style-type: none;
  display: flex;
}
header .top .nav-list ul li {
  width: 100%;
  cursor: pointer;
  text-align: center;
}
header .top .nav-list ul li a {
  text-decoration: none;
  color: #b0a38e;
}
header .top .nav-list ul li a:hover {
  color: black;
  transition: 0.5s;
}
header .top .search {
  cursor: pointer;
  width: 10%;
  height: 20%;
  position: absolute;
  right: 0;
}
header .top .search img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
header h1 {
  text-transform: uppercase;
  font-size: 4rem;
  color: #4A4A4A;
  font-family: var(--font);
  position: absolute;
  left: 50%;
  transform: translate(-50%, -80%);
  top: 50%;
}

main {
  margin-top: 10vh;
}
main h1 {
  color: #8b8882;
  margin-left: 15%;
  margin-bottom: 2%;
  letter-spacing: 2px;
}
main .containerAbout {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: auto;
  margin-bottom: 10vh;
  width: 75%;
}
main .containerAbout .right {
  width: 30%;
  height: 50vh;
  overflow: hidden;
  position: relative;
}
main .containerAbout .right img {
  width: auto;
  height: 100%;
  position: absolute;
}
main .containerAbout .left {
  width: 30%;
  height: 50vh;
}
main .containerAbout .left h2 {
  color: #b0a38e;
  font-family: var(--fontOpenSans);
  margin-bottom: 5%;
}
main .containerAbout .left p {
  line-height: 1.7;
}
main .containerAbout .center {
  width: 20%;
  display: flex;
  flex-direction: column;
}
main .containerAbout .center h2 {
  height: 25%;
  color: #b0a38e;
  font-family: var(--fontOpenSans);
  margin-bottom: 1vh;
}
main .containerAbout .center .delivery {
  width: 25%;
  height: 35%;
}
main .containerAbout .center .delivery img {
  width: 100%;
  height: 40%;
  margin-top: 1.5vh;
}
main .containerAbout .center .delivery p {
  margin-top: 0.8vh;
  text-transform: uppercase;
  font-size: 1rem;
}
main .containerAbout .center .support {
  width: 25%;
  height: 35%;
}
main .containerAbout .center .support img {
  width: 100%;
  margin-top: 1.5vh;
}
main .containerAbout .center .support p {
  margin-top: 0.8vh;
  text-transform: uppercase;
  font-size: 1rem;
}
main .containerAbout .center .montage {
  width: 25%;
  height: 35%;
}
main .containerAbout .center .montage img {
  width: 100%;
  margin-top: 1.5vh;
}
main .containerAbout .center .montage p {
  margin-top: 0.8vh;
  text-transform: uppercase;
  font-size: 1rem;
}
main .containerCategories .categoriaTop {
  height: 20vh;
  display: flex;
  padding-top: 1.5rem;
  align-items: center;
  background-color: #F3F3F3;
}
main .containerCategories .categoriaCenter {
  display: flex;
  width: 100%;
  overflow: hidden;
}
main .containerCategories .categoriaCenter .Slider {
  position: relative;
  cursor: pointer;
  height: 80vh;
  width: 25%;
  border: 1px solid green;
  overflow: hidden;
  transition: 0.3s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
}
main .containerCategories .categoriaCenter .Slider img {
  height: 100%;
  object-position: 50% 50%;
  position: absolute;
  transform: scale(1);
  transition: all 0.2s ease-out;
}
main .containerCategories .categoriaCenter .Slider h2 {
  font-size: 2rem;
  color: white;
  z-index: 2;
  transition: all 0.2s ease-out;
}
main .containerCategories .categoriaCenter .Slider .dark {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.4;
  transition: all 1s ease-out;
}
main .containerCategories .categoriaCenter .Slider:hover {
  overflow: hidden;
}
main .containerCategories .categoriaCenter .Slider:hover h2 {
  opacity: 0;
  transition: all 0.7s;
}
main .containerCategories .categoriaCenter .Slider:hover .dark {
  opacity: 0;
  transition: all 0.7s;
}
main .containerCategories .categoriaCenter .Slider:hover img {
  transform: scale(1.3);
}
main .containerCategories .categoriaCenter .Slider:hover .dark:hover {
  opacity: 0;
}

footer {
  height: 15vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #F3F3F3;
}
footer p {
  letter-spacing: 1.6;
  color: #b0a38e;
}

@media (max-width: 800px) {
  header .top .nav-icon {
    display: block;
    margin-bottom: 0;
  }
  header .top .nav-list {
    display: none;
  }
  header .top .nav-list ul {
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  header .top .nav-list ul li a {
    color: #fff;
  }
  header .top .switch {
    display: block;
    background-color: black;
    opacity: 0.8;
    right: 0;
    top: 20vh;
  }
  header .top .logo {
    height: 6rem;
    width: 6.5rem;
  }
  header h1 {
    font-size: 3rem;
    text-align: center;
  }

  main .containerAbout {
    display: flex;
    flex-direction: column;
  }
  main .containerAbout .left {
    width: 100%;
  }
  main .containerAbout .left h2 {
    text-align: center;
  }
  main .containerAbout .left p {
    text-align: center;
  }
  main .containerAbout .center {
    width: 100%;
    margin-top: -2vh;
    margin-bottom: 5vh;
  }
  main .containerAbout .center .category-Name {
    text-align: center;
  }
  main .containerAbout .center h2 {
    text-align: center;
  }
  main .containerAbout .center .delivery {
    margin-left: 37.5%;
  }
  main .containerAbout .center .support {
    margin-left: 37.5%;
  }
  main .containerAbout .center .montage {
    margin-left: 37.5%;
  }
  main .containerAbout .right {
    display: flex;
    justify-content: center;
    border: 1px solid red;
    width: 100%;
  }
  main .containerCategories .categoriaCenter {
    display: flex;
    flex-direction: column;
    border: 1px solid red;
  }
  main .containerCategories .categoriaCenter .Slider {
    height: 30vh;
    width: 100%;
  }
  main .containerCategories .categoriaCenter .Slider .move {
    position: absolute;
    top: -20%;
  }
  main .containerCategories .categoriaCenter .Slider img {
    width: 100%;
    height: auto;
  }
}

/*# sourceMappingURL=index.css.map */
